<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.Admin">
    <id column="Aname" jdbcType="VARCHAR" property="aname" />
    <result column="Apassword" jdbcType="VARCHAR" property="apassword" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where Aname = #{aname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.Admin">
    insert into admin (Aname, Apassword)
    values (#{aname,jdbcType=VARCHAR}, #{apassword,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.Admin">
    update admin
    set Apassword = #{apassword,jdbcType=VARCHAR}
    where Aname = #{aname,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select Aname, Apassword
    from admin
    where Aname = #{aname,jdbcType=VARCHAR}
  </select>
  <!-- 管理员登录设置 -->
  <select id="queryByNamePwd" resultType="java.lang.String">
		select * from admin where Aname = #{aname} and Apassword= #{apassword}
	</select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Aname, Apassword
    from admin
  </select>
</mapper>